.login-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-image {
 max-width: 100%;
 max-height: 100%;
 object-fit: cover;
 display: block;
 background-position: center;
 background-size: contain;}

.login-box {
  position: absolute;
  top: 60%; 
  left: 20%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 10px;
  width: 20%;
  font-size:40px;}

.bus-buttons {
  position: absolute;
  top: 53%; 
  left: 1120px;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.btn {
  background-color:#282828;
  color: white;
  padding: 60px 60px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

