html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.left,
.right {
  flex: 1;
  padding: 16px;
  overflow: auto;
  box-sizing: border-box;
}

.left {
  background-color: white;
  /* 버스상자 가운데 정렬 */
  display: flex;
  justify-content: center;  /* 가로 가운데 */
  align-items: center;      /* 세로 가운데 */
  position: relative; 
}

.right {
  background-color: white;
  border-left: 1px solid #ccc;
}

.box {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.teamName {
  width: auto;
  height: 60px;
  padding: 10px;
  border: 1px solid gray;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: 'ellipsis'
}

.toggle_button{
  width: 35px;
  height: 35px;
  background-color: red;
  color: white;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  display: flex; /* 내부 텍스트 중앙 정렬을 위해 flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  font-size: 0.75rem;
  font-weight: bold;
}

.box p {
  display: flex;
  align-items: center;
  justify-content: space-between; /*왼쪽 학생정보, 오른쪽 버튼 배치*/
}

.delete_button{
  width: auto;
  height: 25;
  border: 3px solid black;
  justify-content: space-between;
}

.teamToggleText {
  font-size: 18px;
  margin: 4px 0 12px;
  text-align: center;
  color: #333;
}