.login-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/backgroundimage.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-image {
 max-width: 100%;
 max-height: 100%;
 object-fit: cover;
 display: block;
 background-position: center;
 background-size: contain;}

.login-box {
  position: absolute;
  top: 60%; 
  left: 20%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 10px;
  width: 20%;
  font-size:40px;}

.bus-buttons {
  position: absolute;
  top: 53%; 
  left: 1200px;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}
.btn {
  background-color: #282828;
  color: white;
  padding: 60px 60px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 입체감 */
  transition: all 0.2s ease; /* 부드러운 변화 */
  transform: translateY(0);
}

.btn:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px); /* 살짝 떠오름 */
}

.btn:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(2px); /* 눌리는 느낌 */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
